* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #334b35;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

html,
body {
  overflow-x: hidden;
}
/************************************************** HEADER *****************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
  padding: 20px;
}

.navnheader {
  color: #fff;
  font-family: Labrada;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.burger-menu span {
  width: 30px;
  height: 3px;
  background-color: #fae7d8;
  display: block;
}

/* Navigationen (skjult som standard) */
.nav-links {
  display: none;
  flex-direction: column;
  background-color: #fae7d8;
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 100px;
  border: 1px solid #ccc;
  z-index: 999;

  align-items: center;
  gap: 60px;
  width: 250px;
}

.nav-links a {
  white-space: nowrap;
  text-decoration: none;
  font-family: Labrada;
  font-size: 20px;
  color: #333;
  transition: color 0.2s ease;
  background-color: #b2632c;
  padding: 5px;
  width: 200px;
}

/* Når menuen er aktiv */
.nav-links.active {
  display: flex;
}

.nav-links a.active {
  border-bottom: 2px solid black;
}
/******************************** MAIN **********************************/

.portfolio-title {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio-title h1 {
  z-index: 1;

  color: #fae7d8;
  font-family: "Radio Canada Big";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.baggrundtekst {
  opacity: 0.3;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  color: #334b35;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fdac15;
  font-family: "Radio Canada Big";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 150px;
}

.profil {
  background-color: #b2632c;
  height: 400px;
  padding: 1rem;
  text-align: center;
  width: 200px;
  max-width: 300px;
  margin-bottom: 2rem;
  padding-top: 60px;
  margin-left: 80px;
}

.imagcontainer {
  background-color: black;
  padding: 0.5rem;
  border-radius: 8px;
}

.imgcontainer img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.navn {
  background-color: #2f4832;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}

.semester {
  color: #fae7d8;
  font-family: "Radio Canada Big";
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 1.5rem 0;
  color: #eaeaea;

  margin-top: 50px;
}

.projektbutton {
  background: #ffb300;
  text-decoration: none;
  color: white;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 0px #000;
  cursor: pointer;
}

.projektbutton:hover {
  background-color: #b2632c; /* darker green on hover */
  box-shadow: 0 8px 29px rgba(0, 0, 0, 0.4); /* strong shadow */
  transform: translateY(-5px) scale(1.05);
}

/*************************************** DESKTOP **********************************/

@media (min-width: 768px) {
  body {
    font-size: 1.1rem;
  }
  html,
  body {
    overflow: hidden;
    height: 100%;
  }
  .header {
    justify-content: space-between; /* Spread out logo + nav if needed */
    padding: 30px 60px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    padding: 0;
    height: auto;
    top: auto;
    right: auto;
    gap: 50px;
    border: none;
    margin-right: 150px;
  }

  .nav-links a {
    white-space: nowrap;
    text-decoration: none;
    font-family: Labrada;
    font-size: 20px;
    color: white;
    transition: color 0.2s ease;
    background-color: #334b35;
    border: 2px solid #fdac15;
    padding: 5px;
    width: 200px;
  }

  .nav-links a.active {
    border-bottom: #fdac15;
  }

  .burger-menu {
    display: none; /* Hide burger menu on desktop */
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .forside {
    margin-top: -50px;
  }
  .portfolio-title h1 {
    z-index: 1;
    color: #fae7d8;
    font-family: "Radio Canada Big";
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-right: 250px;
    margin-left: 90px;
    margin-bottom: -40px;
  }

  .baggrundtekst {
    opacity: 0.3;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    color: #334b35;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fdac15;
    font-family: "Radio Canada Big";
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px;

    margin-right: 250px;
    margin-left: 90px;
  }

  .profil {
    border: 1px solid #000;
    background: #b76938;
    width: 321px;
    height: 510px;
    flex-shrink: 0;
    padding: 2rem;
    text-align: center;
    max-width: 300px;
    margin-bottom: 3rem;
    padding-top: 60px;
    margin-left: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;

    margin-top: -130px;
  }
}
